<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/import :: importer">
    <title>main page</title>
</head>
<body>
<div th:replace="fragments/header :: header" />
    <div class="orderList">
        <form th:object="${orderSearch}">
            <div class="search-area">
                <div class="search-input">
                    <input type="text" th:field="*{memberName}">
                </div>
                <div>
                    <select th:field="*{orderStatus}">
                        <option value="">주문상태</option>
                        <option th:each="status : ${T(com.shop.ShoppingMall.domain.OrderStatus).values()}"
                                th:value="${status}"
                                th:text="${status}">
                        </option>
                    </select>
                </div>

                <button type="submit">검색</button>
            </div>
        </form>

        <table border="1" class="orderList-table">
            <thead>
            <tr>
                <th>#</th>
                <th>회원명</th>
                <th>상품이름</th>
                <th>상품가격</th>
                <th>상품수량</th>
                <th>상태</th>
                <th>주문날짜</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.member.name}"></td>
                <td th:text="${order.orderitems[0].item.name}"></td>
                <td th:text="${order.orderitems[0].orderPrice}"></td>
                <td th:text="${order.orderitems[0].count}"></td>
                <td th:text="${order.status}"></td>
                <td th:text="${order.orderDate}"></td>
                <td>
                    <a th:if="${order.status.name() == 'ORDER'}" href="#"
                       th:href="'javascript:cancel('+${order.id}+')'"
                       class="orderList-cancel">주문취소</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <script>
        function cancel(id){
            var form = document.createElement("form");
            form.setAttribute("method", "post")
            form.setAttribute("action", "/order/cancel/" + id );
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</body>

</html>