<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="navbar" th:fragment="header">
    <div class="navbar_logo">
        <i class="fab fa-amazon"></i>
    </div>

    <ul class="navbar_menu">
        <li><a href="/order">상품주문</a></li>
        <li><a href="/items/list">전체 상품보기</a></li>
        <li><a href="/order/list">주문 보기</a></li>
        <li><a href="#">메뉴4</a></li>
        <li><a href="#">메뉴5</a></li>
    </ul>

    <ul class="navbar_user">
        <li><a href="#">로그인</a></li>
        <li><a href="/members/register">회원가입</a></li>
    </ul>

    <a class="navbar_Btn" href="#">
        <i class="fas fa-bars"></i>
    </a>
</div>