<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="navbar" th:fragment="header">
    <div class="navbar_logo">
        <i class="fab fa-amazon"></i>
    </div>

    <ul class="navbar_menu">
        <li><a href="#">상품1</a></li>
        <li><a href="#">상품2</a></li>
        <li><a href="#">상품3</a></li>
        <li><a href="#">상품4</a></li>
        <li><a href="#">상품5</a></li>
    </ul>

    <ul class="navbar_user">
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
    </ul>

    <a class="navbar_Btn" href="#">
        <i class="fas fa-bars"></i>
    </a>
</div>