<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
    <script src="https://kit.fontawesome.com/aa039b9676.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>
<body>
<div class="navbar">
    <div class="navbar_logo">
        <i class="fab fa-amazon"></i>
    </div>

    <ul class="navbar_menu">
        <li><a href="#">상품1</a></li>
        <li><a href="#">상품2</a></li>
        <li><a href="#">상품3</a></li>
        <li><a href="#">상품4</a></li>
        <li><a href="#">상품5</a></li>
    </ul>

    <ul class="navbar_user">
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
    </ul>

    <a class="navbar_Btn" href="#">
        <i class="fas fa-bars"></i>
    </a>
</div>

</body>
</html>